/* global styles */
:root {
  --main-text-color: #111827;
  --secondary-text-color: #606060;
  --main-bg-color: #f5f7fb;
  --secondary-bg-color: #fff;
  --border-color: #e5e7eb;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  color: var(--main-text-color);
  line-height: 1.6;
  font-family: var(--font-spartan-sans), sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
  letter-spacing: -0.02em;
  margin: 0;
}

/* page container styles */
.page-container {
  padding: 12px 24px;
}

.container {
  padding: 12px 24px;
}

@media (max-width: 768px) {
  .page-container {
    padding: 12px 16px;
  }

  .container {
    padding: 12px 16px;
  }
}

@media (max-width: 500px) {
  body {
    font-size: 0.9rem;
  }
}
