/* global styles */
:root{
    --main-text-color: #000;
    --secondary-text-color: #515151;
}

/* body styles */
body {
  font-family: Arial, Helvetica, sans-serif;
}

/* page container styles */
.page-container {
  background: #f5f5f5f5;
  padding: 5px;
}
