/* global styles */
:root {
  --main-text-color: #000;
  --secondary-text-color: #515151;
  --main-bg-color: #f9f9f9;
  --secondary-bg-color: #fff;
}

/* body styles */
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

/* page container styles */
.page-container {
  background: var(--main-bg-color);
  padding: 10px 25px;
}

@media (max-width: 768px) {
  .page-container {
    padding: 10px 15px;
  }
}

@media (max-width: 500px) {
  body {
    font-size: 0.85rem;
  }
}
